.conclusion .full-block-content h3 {
    font-size: 24px;
}

.card {
    width: 100%;
    min-height: 18rem;
    display: flex;
    margin: 1.5rem 0;

    &:hover {
        cursor: pointer;
    }
}

.title-block {
    width: 60rem;
    background-size: cover;
    background-position: center;

    h4 {
        font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.5rem;
        padding: 0.5rem;
        margin: 0;
    }
}

.description-block {
    width: 30rem;
    padding: 0.5rem 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: black;
    }
}

.replay-story {
    display: none;
}