.interstitial {
    .full-block {
        &:after {
            display: block;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.3);
            height: 100%;
            z-index: -1;
        }
    }

    .full-block-cell {
        text-align: left;
        color: #fff;
        //text-shadow: 2px 2px 2px #000;

        .full-block-content {
            // max-width: 1110px;
            max-width: 767px;
        }

        .header {
            p {
                font-size: .8rem;
                i {
                    font-size: 1.4rem;
                    padding-right: .3rem;
                }
            }
        }

         h1 {
             font-size: 2rem;
             text-transform: uppercase;
             margin: 1rem 0 0 0;
             line-height: 1;
             .knockout();
             font-weight: normal;
         }

         h2 {
            .knockout();
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: normal;
            margin: 0;
        }

        p {
            font-size: .9rem;
            line-height: 1.7;
            margin: 0 0 1rem 0;
        }

        .btn.guided {
            position: relative;
            padding-left: 2.3rem;
            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e809";
                font-size: 1.2rem;
            }
        }

        .btn.click-drag {
            position: relative;
            padding-left: 1.7rem;
            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e80e";
                font-size: .8rem;
            }
        }

        .btn.mobile-360 {
            position: relative;
            padding-left: 2.3rem;
            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e809";
                font-size: 1.2rem;
            }
        }

        .btn.vr-device {
            position: relative;
            padding-left: 3rem;
            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e80c";
                font-size: 1rem;
            }
        }

        hr {
            margin: 1rem auto;
        }

        button {
            margin-right: 1rem;
            font-size: .7rem;
        }
    }
}


.no-touchevents .mobile, .touchevents .desktop {
    display: none;
}
