.interstitial {
    .full-block {
        &:after {
            display: block;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.3);
            height: 100%;
            z-index: -1;
        }
    }

    .full-block-cell {
        text-align: left;
        color: #fff;
        //text-shadow: 2px 2px 2px #000;
        background-color: rgba(0, 0, 0, .4);

        .full-block-content {
            // max-width: 1110px;
            max-width: 767px;
        }

        .header {
            .audio-notice {
                margin-top: .4rem;
                font-size: 1.15rem;
                .knockout();
                i {
                    font-size: 1.2rem;
                    padding-right: .3rem;
                }
            }
        }

         h1 {
             font-size: 1.8rem;
             text-transform: uppercase;
             margin: 1rem 0 0 0;
             line-height: 1;
             .knockout();
             font-weight: normal;
             @media @screen-small-above {
                 font-size: 2rem;
             }
         }

         h2 {
            .knockout();
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: bold;
            margin: 0;
        }

        p {
            font-size: .9rem;
            line-height: 1.7;
            margin: 0 0 1rem 0;
        }

        .btn.guided {
            position: relative;
            span {
                padding-left: 1rem;
            }

            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e809";
                font-size: 1.2rem;
            }
        }

        .btn.click-drag {
            position: relative;

            span {
                padding-left: .7rem;
            }

            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e80d";
                font-size: .8rem;
            }
        }

        .btn.mobile-360 {
            position: relative;

            span {
                padding-left: .9rem;
            }

            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e80d";
                font-size: 1.2rem;
            }
        }

        .btn.vr-device {
            position: relative;

            span {
                padding-left: 1.3rem;
            }
            &::before {
                position: absolute;
                top: 0;
                left: .5rem;
                font-family: npr-app-template;
                content: "\e80c";
                font-size: 1rem;
            }
        }

        .btn.loading {
            position: relative;
            width: 140px;
            background-color: rgba(155, 155, 155, .3);
            color: #fff;
            &::before {
                content: "\f110";
                font-size: 20px;
                position: absolute;
                top: 0;
                left: .5rem;
            }
            &::after {
                content: "Loading";
                font-size: 1rem;
                position: absolute;
                top: 0;
                left: 44px;
                font-size: 14px;
            }
            span {
                text-indent: -10000px;
                display: inline-block;
            }
        }

        .btn.loading.click-drag {
            visibility: hidden;
        }

        hr {
            margin: 1rem auto;
        }

        button {
            margin-right: 1rem;
            font-size: .7rem;
        }
    }
}


.no-touchevents .mobile, .touchevents .desktop {
    display: none;
}

.loading::before {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
