.intro {
    .full-block-cell {
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 3px #7c7e9a;

        .full-block-content {
            max-width: 50rem;
            padding: 20px;
        }

        .npr-branding {
            max-width: 50px;
            display: block;
            margin: 0 auto;

            @media @screen-small-above {
                max-width: 5rem;
            }
        }

         h1 {
             font-size: 2rem;
             text-transform: uppercase;
             font-weight: bold;
             margin: 20px 0 0 0;
             line-height: 1;
             @media @screen-small-above {
                 font-size: 3.2rem;
            }
         }

         h2 {
            font-size: 13px;
            font-family: georgia, serif;
            font-weight: normal;
            margin: 5px 0;
            line-height: 1.5;
            max-width: 800px;

            p:first-child {
                margin: 20px 0;
            }

            @media @screen-small-above {
                margin: 20px auto 0 auto;
                font-size: 24px;
            }
        }

        h3 {
            font-size: 11px;
            font-weight: bold;
            margin: 0;
            @media @screen-small-above {
                font-size: 16px;
            }
        }

        h4 {
            font-size: 11px;
            font-family: georgia, serif;
            margin: 5px 0 20px 0;
            font-style: italic;
            font-weight: normal;
            @media @screen-small-above {
                font-size: 14px;
                margin: 10px 0 20px 0;
            }
        }
    }
}
