.vr #scene-canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.fullscreen {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
    width: 50px;
    height: 50px;
    //background-color: rgba(0,0,0,0.3);
    z-index: 20;

    &:hover {
        cursor: pointer;
    }

    .fullscreen-button {
        &::before {
            font-family: npr-app-template;
            content: "\e808";
            font-size: 25px;
            position: relative;
            top: 25%;
            left: 25%;
        }
    }
}


.mute {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    z-index: 20;

    &:hover {
        cursor: pointer;
    }

    .mute-button {
        &::before {
            font-family: npr-app-template;
            font-size: 25px;
            position: relative;
            top: 25%;
            left: 25%;
        }

        &.playing {
            &::before {
                content: "\e805";
            }
        }
        &.paused {
            &::before {
                content: "\e806";
            }
        }
    }
}

//hide fullscreen on mobile
.touchevents {
    .fullscreen {
        visibility: hidden;
        z-index: -1;
    }

    .a-enter-vr {
        z-index: 50;
        bottom: 0;
        right: 0;
        .a-enter-vr-button {
            background-color: transparent;
            height: 3rem;
            bottom: 14px;
        }
    }
}

//hide vr button on desktop
 .no-touchevents {
    .a-enter-vr {
        visibility: hidden;
        z-index: -1;
    }
}

.player-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    opacity: 1;
    visibility: visible;
    display: none;

    // @media @screen-tiny-above {
    //    bottom: 40px;
    // }

    #jp_container_1 {
        width: 100%;
        height: 70px;
        position: relative;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.6));
        //background: rgba(0,0,0,0.5);
        //text-shadow: 2px 2px 2px #333;
        //.box-shadow(2px 2px 2px rgba(0,0,0,.2));

        // @media @screen-tiny-above {
        //    width: 370px;
        //    height: 60px;
        // }
    }

    .jp-controls{
        position: absolute;
        top: 10px;
        left: 0;
        width: 20px;
        height: 30px;
        z-index: 20;

        a {
            font-size: 24px;
            color: #fff;
            position: absolute;
            top: 12px;
            left: 10px;
            margin-top: 2px;
            padding-left: 10px;
            outline-style: none;
            border: none;

            &:hover, &:active {
                text-decoration: none;
            }

            // .touchevents & {
            //     width: 60px;
            //     height: 45px;
            // }

            // @media @screen-tiny-above {
            //     width: 25px;
            //     padding-left: 15px;
            // }

            // @media @screen-small-above {
            //     top: 17px;
            //     //font-size: 24px;
            // }

            span {
                margin-top: 3px;
            }

            .fa-play::before {
                font-family: npr-app-template;
                content: "\e802";
                color: #fff;
            }

            .fa-pause::before {
                font-family: npr-app-template;
                content: "\e804";
                color: #fff;
            }
        }
    }

    .jp-progress-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        //background: rgba(0, 0, 0, .4);
        background: rgba(255, 255, 255, .5);

        // @media @screen-tiny-above {
        //    position: absolute;
        //    top: 15px;
        //    left: auto;
        //    right: 60px;
        //    width: 270px;
        // }



        .player-progress {
            cursor: pointer;

            .jp-seek-bar {
                position: absolute;
                top: 0;
                left: 0;
                height: 10px;

                // @media @screen-tiny-above {
                //    position: absolute;
                //    top: 3px;
                //    left: 0;
                //    height: 22px;
                //    padding-top: 10px;
                //    padding-right: 2px;
                //    border-left: 1px solid rgba(255, 255, 255, 0);
                //    border-right: 1px solid rgba(255, 255, 255, 0);
                //
                //    .no-touchevents & {
                //     .transition(opacity 3s ease);
                //
                //         &:hover {
                //             border-left: 1px solid rgba(255, 255, 255, 0.3);
                //             border-right: 1px solid rgba(255, 255, 255, 0.3);
                //         }
                //     }
                //
                // }
            }

            .bar {
                position: relative;
                height: 5px;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: @primary-control;
                opacity: 1;
                //.box-shadow(0 2px 2px rgba(0,0,0,.5));
                width: 100%;
            }
        }

        .current-time {
            position: absolute;
            top: 0;
            right: -50px;
            font-size: 11px;
        }
    }
}

.annotation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, rgba(36, 60, 97, 0.4), rgba(0, 0, 0, 0.0));
    padding: .5rem 0 1rem 0;
    //background: rgba(0,0,0,.2);
    //padding: 1rem 1.5rem;


    p {
        line-height: 1;
        margin: 0 1rem .2rem 0;
        text-shadow: 2px 2px 2px #333;
        text-align: right;
    }

    .annotation {
        .knockout();
        font-size: .9rem;
    }

    .learn-more {
        display: none;
        font-size: .6rem;

        text-transform: uppercase;
        line-height: 2;

        a {
            opacity: .7;
            border: none;

        }
        .no-touchevents & {
            a:hover,
            a:active {
                opacity: 1;
                color: #fff;
            }
        }
    }


}

.more-360 {
    .knockout();
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    font-size: 11px;
    bottom: 17px;
    right: 70px;
    display: none;
    //width: 60px;
    //height: 30px;
    background-color: rgba(22,30,47,.5);
    z-index: 50;
    padding: 10px;
    //border: 1px solid rgba(255, 255, 255, .4);

    .no-touchevents & {
        &:hover {
            cursor: pointer;
            background-color: rgba(22,30,47,.8);
        }
    }
}
