@import "less/lib/bootstrap/bootstrap";
@import "less/lib/prefixer";
@import "cards/titlecard";
@import "cards/interstitial";
@import "cards/vr";
@import "cards/conclusion";

// Global variables
// -------------------------

//utilities
.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.nobr	{ white-space:nowrap; }

//images
@img-root: "../../assets";

.img-responsive(@display: block;) {
    display: @display;
    max-width: 100%;
    height: auto;
}


// NPR color palette
// -------------------------

@primary-control: #6d8ac4;
@deep-blue: #7598c9;
@blue-dark: #1E2E3A;
@blue-darker: #141D24;

@link-blue: #4B72BF;

@music-dark: #444d58;
@music-medium: #e6ebf2;
@music-light: #dbe0e6;
@music-red: #bc453e;
@music-red-dark: #6f3533;
@music-red-light: #f05b4e;

@music-event-dark: #2e333c;
@music-event-darker: #16191e;
@music-event-txt-light: #cfd3de;
@music-event-txt-dark: #8b9094;
@music-event-light-button-blue: @deep-blue;
@music-event-light-button: @deep-blue;
@music-event-light-highlight-txt: @primary-control;
@music-event-light-border: #252525;

@music-hp-light: #e7e4dd;
@music-hp-dark: #19262f;
@music-hp-link-color: #568fcb;
@music-hp-link-color2: #4a90e2;
@music-hp-c-t-asecondary: #8a8a8a;

@yellow: #EFC637;
@white: #fff;
@gray-medium: #A0A0A0;

@tag-1: #f97450;
@tag-2: #f05b4e;
@tag-3: #ce4242;
@tag-4: #b73759;
@tag-5: #933256;
@tag-6: #7b2c62;
@tag-7: #653279;
@tag-8: #524189;
@tag-9: #5756a5;
@tag-10: #416ab8;

// fonts
.knockout() {
    font-family: 'Knockout 31 4r', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
.gotham() {
    font-family: 'Gotham',Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

// Breakpoints
@screen-jumbo-above: ~"screen and (min-width: 1920px)";
@screen-mega-above: ~"screen and (min-width: 1600px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";


// Base font size
// -------------------------

html {
    font-size: 13px;

    @media @screen-small-above {
        font-size: 14px;
    }

    @media @screen-medium-above {
        font-size: 16px;
    }

    @media @screen-large-above {
        font-size: 18px;
    }

    @media @screen-mega-above {
        font-size: 21px;
    }

    @media @screen-jumbo-above {
        font-size: 24px;
    }
}

// General styles
// -------------------------

body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(#111, #2c2c2c);
}

.content {
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
    .gotham();
}

a:link,
    a:visited {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 2px solid @link-blue;
    }
    .no-touchevents & {
        a:hover,
        a:active {
            color: @link-blue;
        }
    }

.section, .slide {
    .background-size(cover);
    background-position: center center;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

.slide {
    background-color: #000;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    &.fade {
        .transition(opacity 1s ease-in);
    }
    z-index: 99;
    height: 100%;
    overflow: auto;
}

.section {
    height: 100%;
    visibility: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

// full width container within a section or slide
.full-block {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    .full-block-cell {
        display: table-cell;
        position: relative;
        vertical-align: top;
        padding-top: 20px;
        @media @screen-small-above {
            padding-top: 0;
            vertical-align: top;
        }
        width: 100%;
    }


    .full-block-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        @media @screen-small-above {
             padding: 20px 100px;
        }
    }
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 0;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
     font-size: 18px;
    padding: 0 22px;
    line-height: 44px;
    border: none;
    color: #222;
    transition: color 0.4s, background-color 0.4s;

    &:hover {
        .no-touchevents & {
            background-color: #000;
            color: #fff;
            cursor: pointer;
        }
    }

}

///MOZ modals

.modal {
    display: block;
    visibility: hidden;
    padding: 0 1em;
    text-align: center;
    width: 100%;
}

@media (min-width: 43.75em) {
    .modal {
        padding: 1em 2em;
        text-align: right;
    }
}

.modal input {
    display: none;
}

.modal__overlay {
    background: rgba(0,0,0,0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    z-index: -800;
}

.modal__box label {
    background: #fff;
    color: #111;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.modal__box label, .modal__box .btn {
    font-size: .8rem;
    padding: .5rem;
    line-height: 1.2;
}

.modal__box h2 {
    line-height: 1;
    color: #eee;
    margin: 1rem 0 .4rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

 .modal__box h3 {
    color: #eee;
    margin-bottom: 0;
    border-top: 1px solid #888;
    margin-top: 1.5rem;
    padding-top: 1rem;
    font-size: 1rem;
    .knockout();
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.modal__overlay {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    // -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    // transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 800;
    background-color: rgba(0,0,0,0.7);
}



input:checked ~ .modal__overlay {
    opacity: 0;
    overflow: hidden;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

input:focus + label {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}


////Intro Modal

.intro-modal {

    .modal__box {
        padding: 2rem;
        margin: 1rem auto;
        max-width: 55rem;

        .npr-branding {
            max-width: 50px;
            display: block;
            margin: 0;

            @media @screen-small-above {
                max-width: 4rem;
            }
        }

        p.modal-audio-notice {
            margin-top: .4rem;
            font-size: 1.15rem;
            .knockout();
            i {
                font-size: 1.2rem;
                padding-right: .3rem;
            }
        }

    }


    .modal-360 {
        position: relative;
        padding: 1rem;

        &:hover {
            .no-touchevents & {
                background-color: #000;
                color: #fff;
                cursor: pointer;
            }
        }
        &.loading {
            position: relative;
            width: 140px;
            background-color: rgba(155, 155, 155, .3);
            color: #fff;
            &::before {
                font-family: npr-app-template;
                content: "\f110";
                font-size: 20px;
                position: absolute;
                top: .8rem;
                left: .5rem;
            }
            &::after {
                content: "Loading";
                font-size: 1rem;
                position: absolute;
                left: 44px;
                font-size: 14px;
            }
            span {
                text-indent: -10000px;
                display: inline-block;
            }
        }

        .btn.loading.click-drag {
            visibility: hidden;
        }
    }

    .modal-vr {
        position: relative;
        padding: 1rem 1rem 1rem 3.5rem;

        &::before {
            font-family: npr-app-template;
            content: "\e80c";
            font-size: 1.2rem;
            position: absolute;
            top: .8rem;
            left: .9rem;
        }
    }

    .modal__box {
        p {
            color: #eee;
            text-align: left;
            font-size: .9rem;
            margin: 0 0 20px 0;
            line-height: 1.7;
        }
    }



    @media (min-height: 37.5em) {
        .modal__box {
            left: 50%;
            position: absolute;
            top: 50%;
            overflow: auto;
            -webkit-transform: translate(-50%, -60%);
            -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
        }
    }

    @media @screen-small-above {
        font-size: 14px;
    }
}

////Detail Modal

.detail-modal {


    .modal__box {
        padding: 3rem;
        height: 99%;
        overflow-y: auto;

        .details {
            max-width: 40rem;
            margin: 0 auto 1rem auto;
            padding-bottom: 5rem;

            h4 {
                .knockout();
                font-size: .9rem;
                text-transform: uppercase;
                padding-top: .8rem;
                margin: 1.5rem 0 .5rem 0;
                border-top: 1px solid #999;
            }

            h6 {
                font-size: .8rem;
                line-height: 1.3;
                color: #ccc;
                margin: 0;
            }

            p {
                font-size: 1rem;
                line-height: 1.7;
                color: #ddd;
            }
        }
        .close-detail {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-weight: bold;
            padding: .7rem 1rem;

            &:hover {
                .no-touchevents & {
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}


// ads

.resize100 {
    position: relative;
    padding-bottom: 0px;
    padding-top:0px;
    height: 0;
    overflow: hidden;
}

.resize100 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
}

.rad-fl-5775409e8d2934ae1400001d {
    max-width: 45rem;
}