@import "less/lib/bootstrap/bootstrap";
@import "less/lib/prefixer";

// Global variables
// -------------------------

@img-root: "../../assets";


// NPR color palette
// -------------------------

@primary-control: #6d8ac4;
@deep-blue: #7598c9;
@blue-dark: #1E2E3A;
@blue-darker: #141D24;

@music-dark: #444d58;
@music-medium: #e6ebf2;
@music-light: #dbe0e6;
@music-red: #bc453e;
@music-red-dark: #6f3533;
@music-red-light: #f05b4e;

@music-event-dark: #2e333c;
@music-event-darker: #16191e;
@music-event-txt-light: #cfd3de;
@music-event-txt-dark: #8b9094;
@music-event-light-button-blue: @deep-blue;
@music-event-light-button: @deep-blue;
@music-event-light-highlight-txt: @primary-control;
@music-event-light-border: #252525;

@music-hp-light: #e7e4dd;
@music-hp-dark: #19262f;
@music-hp-link-color: #568fcb;
@music-hp-link-color2: #4a90e2;
@music-hp-c-t-asecondary: #8a8a8a;

@yellow: #EFC637;
@white: #fff;
@gray-medium: #A0A0A0;

@tag-1: #f97450;
@tag-2: #f05b4e;
@tag-3: #ce4242;
@tag-4: #b73759;
@tag-5: #933256;
@tag-6: #7b2c62;
@tag-7: #653279;
@tag-8: #524189;
@tag-9: #5756a5;
@tag-10: #416ab8;

@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

// General styles
// -------------------------

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #fff;
    font-family: "Gotham SSm", helvetica, arial, sans-serif;
    font: 16px/1.5em "Gotham SSm", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #111;
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
    font-family: "Gotham Ssm", helvetica, arial, sans-serif;
}

.section {
	height: 100%;
}

.slide {
    background-color: #000;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    &.fade {
        .transition(opacity 1s ease-in);
    }
    z-index: 99;
    height: 100%;
}

.section {
    visibility: hidden;
    opacity: 0;
    // .transition(opacity 3s ease);

    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.section, .slide {
    .background-size(cover);
    background-position: center center;
}

.slide {
    overflow: auto;
}

// full width container within a section or slide
.full-block {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    .full-block-cell {
        display: table-cell;
        position: relative;
        vertical-align: top;
        padding-top: 20px;
        @media @screen-small-above {
            padding-top: 0;
            vertical-align: middle;
        }
        width: 100%;
    }


    .full-block-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        @media @screen-small-above {
             padding: 20px 100px;
        }
    }
}

img {
    max-width: 100%;
}

.start {
    .full-block-cell {
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 2px #000;

        .look-branding {
            img {
                max-width: 50px;
                display: block;
                margin: 0 auto;

                @media @screen-small-above {
                    max-width: 80px;
                }
            }

            h5 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                padding: 5px 0 10px 0;
                border-bottom: 3px solid #f60062;
                display: inline-block;

                @media @screen-small-above {
                    font-size: 16px;
                }
            }
        }

         h1 {
             font-size: 30px;
             text-transform: uppercase;
             font-weight: bold;
             margin: 0;
             @media @screen-small-above {
                 font-size: 55px;
            }
            @media @screen-large-above {
                font-size: 85px;
            }
         }

         h2 {
            font-size: 13px;
            font-family: georgia, serif;
            font-weight: normal;
            margin: 5px 0;

            p:first-child {
                margin: 20px 0;
            }

            @media @screen-small-above {
                margin: 5px 0 30px 0;
                font-size: 24px;
            }
        }

        h3 {
            font-size: 11px;
            font-weight: bold;
            margin: 0;
            @media @screen-small-above {
                font-size: 16px;
            }
        }

        h4 {
            font-size: 11px;
            font-family: georgia, serif;
            margin: 5px 0 0 0;
            font-style: italic;
            @media @screen-small-above {
                font-size: 14px;
                margin: 10px 0 0 0;
            }
        }

        .btn.btn-go {
            border-radius: 0;
            background-color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            margin: 35px auto 0 auto;
            text-align: center;
             font-size: 18px;
            padding: 0 22px;
            line-height: 44px;


            &:hover {
                .no-touch & {
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                }
            }

        }
    }
}

.player-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    opacity: 1;
    visibility: visible;

    @media @screen-tiny-above {
       bottom: 40px;
    }

    #jp_container_1 {
        width: 100%;
        height: 60px;
        margin: 0 auto;
        position: relative;
        background: rgba(255,255,255,0.1);
        text-shadow: 2px 2px 2px #333;
        .box-shadow(2px 2px 2px rgba(0,0,0,.2));

        @media @screen-tiny-above {
           width: 370px;
           height: 60px;
        }
    }

    .jp-controls{
        position: absolute;
        top: 5px;
        left: 0;
        width: 20px;
        height: 30px;
        z-index: 20;

        a {
            font-size: 14px;
            color: #fff;
            position: absolute;
            top: 10px;
            left: 0;
            margin-top: 2px;
            padding-left: 10px;
            outline-style: none;

            &:hover, &:active {
                text-decoration: none;
            }

            .touch & {
                width: 60px;
                height: 45px;
            }

            @media @screen-tiny-above {
                width: 60px;
                padding-left: 15px;
            }

            span {
                margin-top: 3px;
            }

            .fa-play::before {
                font-family: npr-app-template;
                content: "\e802";
                color: #fff;
            }

            .fa-pause::before {
                font-family: npr-app-template;
                content: "\e804";
                color: #fff;
            }
        }
    }

    .jp-progress-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        @media @screen-tiny-above {
           position: absolute;
           top: 15px;
           left: auto;
           right: 60px;
           width: 270px;
        }



        .player-progress {
            cursor: pointer;

            .jp-seek-bar {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;

                @media @screen-tiny-above {
                   position: absolute;
                   top: 3px;
                   left: 0;
                   height: 22px;
                   padding-top: 10px;
                   padding-right: 2px;
                   border-left: 1px solid rgba(255, 255, 255, 0);
                   border-right: 1px solid rgba(255, 255, 255, 0);

                   .no-touch & {
                    .transition(opacity 3s ease);

                        &:hover {
                            border-left: 1px solid rgba(255, 255, 255, 0.3);
                            border-right: 1px solid rgba(255, 255, 255, 0.3);
                        }
                    }

                }
            }

            .bar {
                position: relative;
                height: 3px;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: #eee;
                opacity: 1;
                .box-shadow(0 2px 2px rgba(0,0,0,.5));
                width: 100%;
            }
        }

        .current-time {
            position: absolute;
            top: 0;
            right: -50px;
            font-size: 11px;
        }
    }
}

.scene-close {
    position: absolute;
    top: 20px;
    right: 50px;
    display: none;

    &:hover {
        cursor: pointer;
        color: @yellow;
    }

    .close-button {
        font-size: 14px;
        padding-left: 5px;
        &::before {
            font-family: npr-app-template;
            content: "\e807";
            font-size: 16px;
        }
    }
}

.fullscreen {
    position: absolute;
    bottom: 20px;
    right: 100px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    z-index: 50;

    &:hover {
        cursor: pointer;
    }

    .fullscreen-button {
        &::before {
            font-family: npr-app-template;
            content: "\e808";
            font-size: 25px;
            position: relative;
            top: 25%;
            left: 25%;
        }
    }
}

.conclusion .full-block-content h3 {
    font-size: 24px;
}