<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.meta.title }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    {% include 'critical.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <script>
    /*! loadCSS: load a CSS file asynchronously. [c]2016 @scottjehl, Filament Group, Inc. Licensed MIT */
    (function(w){
        "use strict";
        /* exported loadCSS */
        var loadCSS = function( href, before, media ){
            // Arguments explained:
            // `href` [REQUIRED] is the URL for your CSS file.
            // `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
                // By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
            // `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
            var doc = w.document;
            var ss = doc.createElement( "link" );
            var ref;
            if( before ){
                ref = before;
            }
            else {
                var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
                ref = refs[ refs.length - 1];
            }

            var sheets = doc.styleSheets;
            ss.rel = "stylesheet";
            ss.href = href;
            // temporarily set media to something inapplicable to ensure it'll fetch without blocking render
            ss.media = "only x";

            // wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
            function ready( cb ){
                if( doc.body ){
                    return cb();
                }
                setTimeout(function(){
                    ready( cb );
                });
            }
            // Inject link
                // Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
                // Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
            ready( function(){
                ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
            });
            // A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
            var onloadcssdefined = function( cb ){
                var resolvedHref = ss.href;
                var i = sheets.length;
                while( i-- ){
                    if( sheets[ i ].href === resolvedHref ){
                        return cb();
                    }
                }
                setTimeout(function() {
                    onloadcssdefined( cb );
                });
            };

            function loadCB(){
                if( ss.addEventListener ){
                    ss.removeEventListener( "load", loadCB );
                }
                ss.media = media || "all";
            }

            // once loaded, set link's media back to `all` so that the stylesheet applies once it loads
            if( ss.addEventListener ){
                ss.addEventListener( "load", loadCB);
            }
            ss.onloadcssdefined = onloadcssdefined;
            onloadcssdefined( loadCB );
            return ss;
        };
        // commonjs
        if( typeof exports !== "undefined" ){
            exports.loadCSS = loadCSS;
        }
        else {
            w.loadCSS = loadCSS;
        }
    }( typeof global !== "undefined" ? global : this ));
    </script>

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    <script type='text/javascript'>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        googletag.defineSlot('/6735/6735.npr.viz/national_park_vr', [301, 270], 'subaru1').addService(googletag.pubads());
        googletag.defineSlot('/6735/6735.npr.viz/national_park_vr', [302, 270], 'subaru2').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.enableServices();
      });
    </script>
    </head>
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {{ JS.push('js/lib/cross-storage-client.js') }}
    {{ JS.push('js/lib/custom-event-polyfill.js')}}
    {{ JS.push('js/lib/aframe.js')}}
    {{ JS.push('js/lib/aframe-drag-look-controls-component.js')}}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% block content %}
    {% endblock content %}
    <style>
    .resize100 {
        position: relative;
        padding-bottom: 0px;
        padding-top:0px;
        height: 0;
        overflow: hidden;
    }

    .resize100 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 270px;
    }
    </style>

    {# libs #}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/jquery.jplayer.min.js') }}
    {{ JS.push('js/lib/velocity.js') }}

    {# uncomment both files to use simpleStorage #}
    {# {{ JS.push('js/lib/simpleStorage.js') }} #}
    {# {{ JS.push('js/storage.js') }} #}

    {% if RELOAD_TRIGGER %}
    {{ JS.push('js/reload.js') }}
    {% endif %}

    {{ JS.push('js/copy.js') }}

    {# written files #}
    {{ JS.push('js/utils.js') }}
    {{ JS.push('js/vr.js') }}
    {{ JS.push('js/ui.js') }}
    {{ JS.push('js/audio.js') }}
    {{ JS.push('js/events.js') }}
    {{ JS.push('js/app.js') }}

    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>
