<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.meta.title }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    {% include 'critical.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/rendered/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        var useSSL = 'https:' == document.location.protocol;
        gads.src = (useSSL ? 'https:' : 'http:') +
          '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

    <script type='text/javascript'>
    var firstSlot;
    var secondSlot;
    googletag.cmd.push(function() {
        firstSlot = googletag.defineSlot('/6735/6735.npr.viz/national_park_vr', [301, 270], 'subaru1').addService(googletag.pubads());
        secondSlot = googletag.defineSlot('/6735/6735.npr.viz/national_park_vr', [302, 270], 'subaru2').addService(googletag.pubads());

        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
        googletag.pubads().disableInitialLoad();
        googletag.enableServices();
    });

    function refreshSecondSlot() {
        googletag.cmd.push(function() {
            googletag.pubads().refresh([secondSlot]);
        });
        return false;
    }
    </script>
    {% endblock extra_head %}
</head>
<body>
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {{ JS.push('js/lib/cross-storage-client.js') }}
    {{ JS.push('js/lib/custom-event-polyfill.js')}}
    {{ JS.push('js/lib/aframe.js')}}
    {{ JS.push('js/lib/aframe-drag-look-controls-component.js')}}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% block content %}
    {% endblock content %}
    <style>
    .resize100 {
        position: relative;
        padding-bottom: 0px;
        padding-top:0px;
        height: 0;
        overflow: hidden;
    }

    .resize100 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 270px;
    }

    .rad-fl-5775409e8d2934ae1400001d {
        max-width: 45rem;
    }
    </style>

    {# libs #}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/jquery.jplayer.min.js') }}
    {{ JS.push('js/lib/velocity.js') }}

    {# uncomment both files to use simpleStorage #}
    {# {{ JS.push('js/lib/simpleStorage.js') }} #}
    {# {{ JS.push('js/storage.js') }} #}

    {% if RELOAD_TRIGGER %}
    {{ JS.push('js/reload.js') }}
    {% endif %}

    {{ JS.push('js/copy.js') }}

    {# written files #}
    {{ JS.push('js/utils.js') }}
    {{ JS.push('js/vr.js') }}
    {{ JS.push('js/ui.js') }}
    {{ JS.push('js/audio.js') }}
    {{ JS.push('js/events.js') }}
    {{ JS.push('js/app.js') }}

    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>
