<div class="conclusion section">
    <div class="slide" style="background-image: url('assets/{{ COPY.conclusion.background_image }}');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <h3>{{ COPY.conclusion.hed }}</h3>
                    <div class="scene-buttons">
                        {% for row in COPY.vr %}
                        <button data-scene="{{ row.id }}" class="btn btn-go">{{ row.name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>