<div class="conclusion section">
    <div class="slide" style="background-image: url('assets/{{ COPY.conclusion.background_image }}');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <div class="story">
                        <h5>{{ COPY.conclusion.story_label }}</h5>
                        <h2>{{ COPY.conclusion.story_hed }}</h2>
                        <p>{{ COPY.conclusion.story_dek }}</p>
                        <button class="begin-story btn btn-go">{{ COPY.conclusion.first_play_story_btn }}</button>
                    </div>
                    <div class="replay-story">
                        <button class="begin-story btn btn-go"><i class="icon icon-ccw"></i>{{ COPY.conclusion.replay_btn }}</button>
                    </div>
                    <div class="scene-buttons">
                        {% for row in COPY.zen_cards %}
                        <div class="card" data-scene="{{ row.id }}">
                            <div class="title-block" style="background-image: url(assets/{{ row.image }}); background-size: cover;">
                                <h4>{{ row.name }}</h4>
                            </div>
                            <div class="description-block">
                                <p>{{ row.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>