{% extends '_base.html' %}

{% block content %}
<div class="intro section">
    <div class="slide start" style="background-image: url('assets/145194566.jpg');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <div class="look-branding">
                        <img src="assets/npr-logo.png">
                    </div>
                    <h1>Here Be VR</h1>
                    <h2>the fuuuuuture</h2>
                    <h3>someone</h3>
                    <h4>sometime</h4>

                    <button class="btn btn-go begin">Begin</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vr">
    <a-scene>
        <a-entity camera universal-controls></a-entity>

        <a-entity class="scene" id="slide1" visible="true" data-checkpoint="10">
            <a-sky src="assets/puydesancy.jpg" rotation="0 -130 0"></a-sky>
        </a-entity>

        <a-entity class="scene" id="slide2" visible="false" data-checkpoint="20">
            <a-sky src="assets/andes_2048.jpg"></a-sky>
        </a-entity>

        <a-entity class="scene" id="slide3" visible="false" data-checkpoint="30">
            <a-sky src="assets/puydesancy.jpg" rotation="0 -130 0"></a-sky>
        </a-entity>

        <a-entity class="scene" id="slide4" visible="false" data-checkpoint="40">
            <a-sky src="assets/andes_2048.jpg"></a-sky>
        </a-entity>
    </a-scene>
</div>

<div class="conclusion section">
    <div class="slide start" style="background-image: url('assets/145194566.jpg');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <div class="look-branding">
                        <img src="assets/npr-logo.png">
                    </div>
                    <h1>Up Next</h1>
                </div>
            </div>
        </div>
    </div>


<div id="audio-player"></div>
{% endblock %}
