{% extends '_base.html' %}

{% block content %}
<div class="intro section">
    <div class="slide start" style="background-image: url('assets/145194566.jpg');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <div class="look-branding">
                        <img src="assets/npr-logo.png">
                    </div>
                    <h1>Here Be VR</h1>
                    <h2>the fuuuuuture</h2>
                    <h3>someone</h3>
                    <h4>sometime</h4>

                    <button class="btn btn-go begin">Begin</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vr">
    <a-scene>
        <a-entity camera look-controls></a-entity>
        {% for row in COPY.vr %}
        <a-entity class="scene" id="{{ row.id }}" data-checkpoint="{{ row.end_time }}" data-ambi="{{ row.ambi }}">
            <a-entity class="sky" visible="false">
                <a-sky src="assets/{{ row.image }}" rotation="{{ row.image_rotation }}"></a-sky>
            </a-entity>
            {% if row.overlay %}
            <a-entity visible="false" class="sky-anno" id="annos-{{ row.id }}">
                <a-sphere scale="1 1 -1" src="assets/{{ row.overlay }}" opacity="0.9" radius="100"></a-sphere>
            </a-entity>
            {% endif %}
        </a-entity>
        {% endfor %}
    </a-scene>
</div>

<div class="conclusion section">
    <div class="slide start" style="background-image: url('assets/145194566.jpg');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <h3>Would you like to return to a scene?</h3>
                    <div class="scene-buttons">
                        <button data-scene="slide1" class="btn btn-go">Scene 1</button>
                        <button data-scene="slide2" class="btn btn-go">Scene 2</button>
                        <button data-scene="slide3" class="btn btn-go">Scene 3</button>
                        <button data-scene="slide4" class="btn btn-go">Scene 4</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="player-wrapper">
    <div id="audio-player" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls-holder">
                    <div class="jp-controls controls">
                        <a href="#" class="play player-button" tabindex="1" title="play"><span class="fa fa-play"></span></a>
                        <a href="#" class="pause player-button" tabindex="1" style="display: none;" title="pause"><span class="fa fa-pause"></span></a>
                    </div>
                </div>
                <div class="jp-progress-container">
                    <div class="player-progress jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar bar"></div>
                        </div>
                    </div>
                    <div class="playback-info">
                        <div class="current-time"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ambi-player"></div>

<div class="scene-close">
    <span class="close-button"> Close scene</span>
</div>

<div class="fullscreen">
    <span class="fullscreen-button"></span>
</div>

{% endblock %}
