<div class="interstitial section">
    <div class="slide" style="background-image: url('assets/{{ COPY.titlecard.background_image }}');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <div class="header">
                        <h1>{{ COPY.interstitial.hed }}</h1>
                        <p><i class="icon icon-headphones"></i>{{ COPY.interstitial.subhed}}</p>
                    </div>
                    <hr />
                    <div class="desktop">
                        <div class="device">
                            <h2>{{ COPY.interstitial.desktop_hed }}</h2>
                            <p>{{ COPY.interstitial.desktop_dek }}</p>
                            <button class="btn begin-story guided">{{ COPY.interstitial.desktop_guided_btn }}</button>
                            <button class="btn begin-story click-drag"> {{ COPY.interstitial.desktop_click_and_drag_btn }}</button>
                        </div>
                        <hr />
                        <div class="vr">
                            <h2>{{ COPY.interstitial.desktop_vr_hed }}</h2>
                            <p>{{ COPY.interstitial.desktop_vr_dek }}</p>
                        </div>
                    </div>
                    <div class="mobile">
                        <div class="device">
                            <h2>{{ COPY.interstitial.mobile_hed }}</h2>
                            <p>{{ COPY.interstitial.mobile_dek }}</p>
                            <button class="btn begin-story">{{ COPY.interstitial.mobile_device_btn }}</button>
                        </div>
                        <hr />
                        <div class="vr">
                            <h2>{{ COPY.interstitial.mobile_vr_hed }}</h2>
                            <p>{{ COPY.interstitial.mobile_vr_dek }}</p>
                            <button class="btn begin-story vr-device">{{ COPY.interstitial.mobile_vr_btn }}</button>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
