<div class="interstitial section">
    <div class="slide" style="background-image: url('assets/{{ COPY.titlecard.background_image }}');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <h1>{{ COPY.interstitial.hed }}</h1>
                    <h2><i class="icon icon-headphones"></i>{{ COPY.interstitial.subhed}}</h2>

                    <div class="choices">
                        <button class="btn begin-story desktop-or-mobile"><i class="icon icon-laptop"></i>{{ COPY.interstitial.desktop_btn_text }}</button>
                        <button class="btn begin-story vr-device">{{ COPY.interstitial.vr_btn_text }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>