<div class="intro section">
    <div class="slide start">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <img class="npr-branding" src="assets/npr-white.png">
                    <h1>{{ COPY.titlecard.hed }}</h1>
                    <h2>{{ COPY.titlecard.subhed}}</h2>
                    <h4>Published On</h4>


                    <button class="btn btn-go begin">{{ COPY.titlecard.begin_btn }}</button>

                    <div class="ie-warning">
                        <p>Your browser is not supported for this experience. Please try a modern browser like Google Chrome, Mozilla Firefox or Apple Safari.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-wrapper" style="background-image: url('assets/title-pano.jpg');"></div>
    </div>
</div>
