<div class="intro section">
    <div class="slide start" style="background-image: url('assets/{{ COPY.titlecard.background_image }}');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <h1>{{ COPY.titlecard.hed }}</h1>
                    <h2>{{ COPY.titlecard.subhed}}</h2>
                    <button class="btn btn-go begin">{{ COPY.titlecard.begin_btn }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

