<div class="intro section">
    <div class="slide start" style="background-image: url('assets/longs-title.jpg');">
        <div class="full-block">
            <div class="full-block-cell">
                <div class="full-block-content">
                    <!-- <div class="look-branding">
                        <img src="assets/npr-logo.png">
                    </div> -->
                    <h1>Standing at the edge of geologic time</h1>
                    <h2>A 360° sound and image reflection on the 4.5 billion year history of earth from the stunning vistas of Rocky Mountain National Park</h2>
                    <!-- <h3>someone</h3>
                    <h4>sometime</h4> -->

                    <button class="btn btn-go begin">Begin</button>
                </div>
            </div>
        </div>
    </div>
</div>

