<div class="vr">
    <a-scene debug="true" canvas="canvas: #scene-canvas">
        <a-assets>
            <a-mixin id="cube" geometry="primitive: box"></a-mixin>
        </a-assets>
        <a-entity camera drag-look-controls>
            <a-entity position="0 0 -10"
                    geometry="primitive: ring; radiusOuter: 0.30;
                              radiusInner: 0.20;"
                    material="color: cyan; shader: flat"
                    cursor="maxDistance: 30; fuse: true"
                    visible="false">
            </a-entity>
            {% for row in COPY.vr_animations %}
            <a-animation attribute="{{ row.attribute }}" dur="{{ row.duration }}" from="{{ row.from_value }}" to="{{ row.to_value }}" begin="enter-{{ row.id }}" end="cancel-{{ row.id }}"></a-animation>
            {% endfor %}
        </a-entity>
        <a-entity position="-0.5 -10 0">
            <a-entity id="toggle-audio" mixin="cube" visible="false">
            </a-entity>
          </a-entity>
        {% for row in COPY.vr %}
        <a-entity class="scene" id="{{ row.id }}" data-checkpoint="{{ row.end_time }}" data-ambi="{{ row.ambi }}" data-fov="{{ row.fov }}" data-annotation="{{ row.annotation }}" data-details="{{ row.details }}">
            <a-entity class="sky" visible="false">
                <a-sky src="assets/{{ row.image }}" rotation="{{ row.image_rotation }}"></a-sky>
            </a-entity>
        </a-entity>
        {% endfor %}
        {% for row in COPY.extra_zen %}
        <a-entity class="scene" id="{{ row.id }}" data-ambi="{{ row.ambi }}" data-fov="{{ row.fov }}" data-annotation="{{ row.annotation }}">
            <a-entity class="sky" visible="false">
                <a-sky src="assets/{{ row.image }}" rotation="{{ row.image_rotation }}"></a-sky>
            </a-entity>
        </a-entity>
        {% endfor %}
        <canvas id="scene-canvas"></canvas>
    </a-scene>

    <div class="annotation-wrapper">
        <p class="annotation"></p>
        <p class="learn-more"><a href="#">Learn more about this recording</a></p>
    </div>

    <div class="player-wrapper">
        <div id="audio-player" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls-holder">
                        <div class="jp-controls controls">
                            <a href="#" class="play player-button" tabindex="1" title="play"><span class="fa fa-play"></span></a>
                            <a href="#" class="pause player-button" tabindex="1" style="display: none;" title="pause"><span class="fa fa-pause"></span></a>
                        </div>
                    </div>
                    <div class="jp-progress-container">
                        <div class="player-progress jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar bar"></div>
                            </div>
                        </div>
                        <div class="playback-info">
                            <div class="current-time"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ambi-player"></div>

    <div class="mute">
        <span class="mute-button"></span>
    </div>

    <div class="fullscreen">
        <span class="fullscreen-button"></span>
    </div>

    <div class="more-360">
        <span class="more-360-btn">More 360° scenes</span>
    </div>

    <div class="modal intro-modal">
        <input id="modal" type="checkbox" name="modal" tabindex="1">
        <div class="modal__overlay">
            <div class="modal__box">
                <img class="npr-branding" src="assets/npr-white.png">
                <h2>Select your experience</h2>
                <p><i class="icon icon-headphones"></i> Use headphones for 360° binaural audio.</p>
                <h3>360° Mode</h3>
                <p>Click and drag to move through each scene as you listen to a continuous looping soundscape recorded in Rocky Mountain National Park.</p>

                <label for="modal" class="modal-360">Enter 360° Mode</label>

                <h3>VR Mode</h3>
                <p>Insert your phone into a <a href="https://vr.google.com/cardboard/get-cardboard/" target="_blank">Google Cardboard</a>. Look around in every direction for the full experience.</p>

                <button class="btn modal-vr">
                    Enter VR mode
                </button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal detail-modal">
        <input id="detail-modal" type="checkbox" name="detail-modal" tabindex="1">
        <div class="modal__overlay">
            <div class="modal__box">
                <p class="details"></p>
                <label for="detail-modal">Close</label>
            </div>
        </div>
    </div>
</div>
