<div class="vr">
    <a-scene>
        <a-assets>
            <a-mixin id="cube" geometry="primitive: box"></a-mixin>
        </a-assets>
        <a-entity camera drag-look-controls>
            <a-entity position="0 0 -10"
                    geometry="primitive: ring; radiusOuter: 0.30;
                              radiusInner: 0.20;"
                    material="color: cyan; shader: flat"
                    cursor="maxDistance: 30; fuse: true"
                    visible="false">
            </a-entity>
            {% for row in COPY.vr_animations %}
            <a-animation attribute="{{ row.attribute }}" dur="{{ row.duration }}" to="{{ row.to_value }}" begin="enter-{{ row.id }}"></a-animation>
            {% endfor %}
        </a-entity>
        <a-entity position="-0.5 -10 0">
            <a-entity id="toggle-audio" mixin="cube" visible="false">
            </a-entity>
          </a-entity>
        {% for row in COPY.vr %}
        <a-entity class="scene" id="{{ row.id }}" data-checkpoint="{{ row.end_time }}" data-ambi="{{ row.ambi }}" data-fov="{{ row.fov }}" data-annotation="{{ row.annotation }}">
            <a-entity class="sky" visible="false">
                <a-sky src="assets/{{ row.image }}" rotation="{{ row.image_rotation }}"></a-sky>
            </a-entity>
        </a-entity>
        {% endfor %}
        {% for row in COPY.extra_zen %}
        <a-entity class="scene" id="{{ row.id }}" data-ambi="{{ row.ambi }}" data-fov="{{ row.fov }}" data-annotation="{{ row.annotation }}">
            <a-entity class="sky" visible="false">
                <a-sky src="assets/{{ row.image }}" rotation="{{ row.image_rotation }}"></a-sky>
            </a-entity>
        </a-entity>
        {% endfor %}
    </a-scene>

    <div class="annotation-wrapper">
        <p></p>
    </div>

    <div class="player-wrapper">
        <div id="audio-player" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls-holder">
                        <div class="jp-controls controls">
                            <a href="#" class="play player-button" tabindex="1" title="play"><span class="fa fa-play"></span></a>
                            <a href="#" class="pause player-button" tabindex="1" style="display: none;" title="pause"><span class="fa fa-pause"></span></a>
                        </div>
                    </div>
                    <div class="jp-progress-container">
                        <div class="player-progress jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar bar"></div>
                            </div>
                        </div>
                        <div class="playback-info">
                            <div class="current-time"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ambi-player"></div>

    <div class="fullscreen">
        <span class="fullscreen-button"></span>
    </div>

    <div class="more-360">
        <span class="more-360-btn">More 360° scenes</span>
    </div>

    <div class="modal">
      <input id="modal" type="checkbox" name="modal" tabindex="1">
      <div class="modal__overlay">
        <div class="modal__box">
          <h2>Modal</h2>
          <label for="modal">Zen time</label>
        </div>
      </div>
    </div>
</div>
